@font-face {
  font-family: YEKAN-BAKH-THIN;
  src: url('./YEKAN-BAKH-THIN.TTF') format('ttf');
  font-display: swap;
}
@font-face {
  font-family: YEKAN-BAKH-LIGHT;
  src: url('./YEKAN-BAKH-LIGHT.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: YEKAN-BAKH-FAT;
  src: url('./YEKAN-BAKH-FAT.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: YEKAN-BAKH-REGULAR;
  src: url('./YEKAN-BAKH-REGULAR.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'YEKAN-BAKH-REGULAR';
  src: url('./YEKAN-BAKH-REGULAR.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: YEKAN-BAKH-MEDIUM;
  src: url('./YEKAN-BAKH-MEDIUM.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: YEKAN-BAKH-HEAVY;
  src: url('./YEKAN-BAKH-HEAVY.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: YEKAN-BAKH-BOLD;
  src:
          url('./YEKAN-BAKH-BOLD.woff') format('woff');
  font-display: swap;
}
