@forward 'vuetify/settings' with (
  //$button-height: 40px,
  //$font-size-root: 1rem,
  //$navigation-drawer-background: red
  // $utilities: false,
  // $color-pack: false,
  // $table-background:transparent,
  // $table-color:green,
   $body-font-family: YEKAN-BAKH-REGULAR,
   $table-border-color: #E9ECF6,
   $text-field-affix-color: white,
   $card-title-font-size: 18px,
   $button-text-letter-spacing: 0,
   $app-bar-background: #F5F7FC,
   $input-chips-margin-top: 6px
);
